<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Load and preload the critical CSS %}
    {{ 'reset.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'base.css' | asset_url | stylesheet_tag: preload: true }}
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}
    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body>
    <div id="header-group" class="header-group">
      {% sections 'header-group' %}
    </div>
    {{ content_for_layout }}
    <div id="footer-group" class="footer-group">
      {% sections 'footer-group' %}
    </div>
  </body>
</html>
